<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuiguan_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,818},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,816},{134,132}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,366},{180,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,548},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,682},{134,132}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,184},{180,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,730},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,548},{134,132}}</string>
                <key>offset</key>
                <string>{23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{134,132}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{180,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,134}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,366},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,184},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>shuiguan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuiguan.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5c39eb7eaa571f5d49943c310877e98:1/1$</string>
            <key>textureFileName</key>
            <string>shuiguan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
